
header{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 50px;
    nav div a img{
        height: 40px;
        display: flex;
    }
    nav{
        display: flex;
        height: 10%;
         ul li a{
            text-decoration: none;
            color:black;
            padding: 10px;
            display: block;
            padding-right: 30px;
        }
         ul li a:hover{
            color:white;
        }
    }
}
@media (max-width: 772px) {
    header div a img{
        height: 25px;
    }
    nav{
        height: 9%;
    }
}